<div>
    <h2>Find all components for a given course code</h2>
    <span>
        Subject: <input #subject type="text">
        Course Code: <input #courseCode type="text">
        Course Component: <input #component type="text">
        <button (click)="getCourseComponents(subject.value,courseCode.value,component.value)">Find all course codes</button>
    </span>
   
    <ol>
        <li *ngFor="let courseComponent of allCourseComponents" [ngStyle] ="{'background-color':(courseComponent.ssr_component=='LEC'? '#30D5C8' : (courseComponent.ssr_component=='LAB'? '#FF7F50' : '#b19cd9'))}"[courseComponent]="courseComponent">{{courseComponent.class_nbr}} | Days: {{courseComponent.days}} | Start Time: {{courseComponent.start_time}} | Location: {{courseComponent.facility_ID}} | Type: {{courseComponent.ssr_component}}</li>
    </ol>
</div>
