<div>
  <h1>Search all courses in UWO and make a schedule</h1>
  <h4>All inputs must not contain special characters and must be between 2 and 20 characters long or else they will be rejected :)</h4>
  <app-course-code-search></app-course-code-search>
  <app-component-search></app-component-search>
  <app-make-schedule></app-make-schedule>
  <app-add-course></app-add-course>
  <app-get-one-schedule></app-get-one-schedule>
  <app-schedule-summary></app-schedule-summary>
  <app-all-courses-search></app-all-courses-search>

</div>