body {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

h1 {
  color: #cdb7f6;
  text-align: center;
  line-height: 30px;
}

h2 {
  color: #4f2683;
  text-align: center;
}

ol {
  text-align: center;
}
